
.DS_Store
.DS_Store
.DS_Store
*.log
*.gz
*.tex
*.cls
.DS_Store
.DS_Store
.DS_Store
.DS_Store
exam-sd/exam-sd-template.out
exam-sd/exam-sd-template.aux
exam-sd/exam-sd-template.pdf
jinvts copy.html
.DS_Store
.DS_Store
